.main-slide{
	position: relative;
	float: left;
	margin: 12px 0 0 220px;
	width: 730px;
	height: 454px;
}
.main-slide ul{
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -66px;
} 
.main-slide ul li{
	float: left;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	background-color: #3e3e3e;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	margin: 0 2px;
}
.main-slide .current{
	background-color: #c81623;
}
.main-news{
	float: right;
	height: 466px;
	width: 250px;
}
.main-news-top{
	height: 372px;
	width: 248px;
	border: 1px solid #e4e4e4;
	margin: 12px 0 5px 0;
	overflow: hidden;
}
.main-news-top-faster{
	height: 163px;
	border-bottom: 1px dashed #e4e4e4;
}
.main-news-top-faster-title{
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	border-bottom: 1px dotted #e8e8e7;
}
.main-news-top-faster-title h2{
	float: left;
	font:400 16px/32px '微软雅黑';
}
.main-news-top-faster-title a{
	float: right;
	font-family: 'consolas';
}
.main-news-top-faster-content{
	padding: 5px 0 0 15px;
}
.main-news-top-faster-content li{
	height: 24px;
}
.main-news-top-faster-content span{
	font-weight: 700;
	margin-right: 5px;
}
.main-news-top-money ul{
	width: 260px;
}
.main-news-top-money li{
	border: 1px solid #e8e8e7;
	border-top: 0;
	width: 62px;
	height: 70px;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
}
.main-news-top-money a{
	display: block;
	width: 62px;
	height: 70px;
	text-align: center;
	line-height: 30px;
	padding-top: 40px;
	position: relative;
}
.main-news-top-money i{
	position: absolute;
	top: 13px;
	left: 18px;
	width: 25px;
	height: 25px;
	background: url(../img/fly.png) no-repeat;
}

.main-news-top-money .main-news-top-money-icon2{
	background-position: 0 -25px;
}
.main-news-top-money .main-news-top-money-icon3{
	background-position: 0 -50px;
}
.main-news-top-money .main-news-top-money-icon4{
	background-position: 0 -75px;
}
.main-news-top-money .main-news-top-money-icon5{
	background-position: 0 -100px;
}
.main-news-top-money .main-news-top-money-icon6{
	background-position: 0 -125px;
}
.main-news-top-money .main-news-top-money-icon7{
	background-position: 0 -150px;
}
.main-news-top-money .main-news-top-money-icon8{
	background-position: 0 -175px;
}
.main-news-top-money .main-news-top-money-icon9{
	background-position: 0 -200px;
}
.main-news-top-money .main-news-top-money-icon10{
	background-position: 0 -225px;
}
.main-news-top-money .main-news-top-money-icon11{
	background-position: 0 -250px;
}
.main-news-top-money .main-news-top-money-icon12{
	background-position: 0 -275px;
}
.today-left{
	float: left;
}
.today-left a{
	display: block;
	width: 210px;
	height: 151px;
	/*background: */
}
.today-right{
	float: right;
}




